body {
    height: 95vh; 
    width: 95;
    display: flex;
    justify-content: center; /* alinha horizontalmente */
    align-items: center; /* alinha verticalmente */
    flex-direction: column;
    color: rgb(44, 139, 44);
}